/* <style>
      .cls-1 {
        filter: url(#filter);
      }

      .cls-2 {
        font-size: 240.68px;
        fill: #6f6fad;
        font-family: MalgunGothic-Semilight, Malgun Gothic;
        font-weight: 300;
        letter-spacing: 0.07em;
      }
      .cls-3 {
        fill: #000;
      }

      .cls-4 {
        fill: #1c75bc;
        letter-spacing: 0.07em;
      }

      .cls-5 {
        fill: url(#linear-gradient);
      }

      .cls-6 {
        fill: url(#linear-gradient-2);
      }
    </style> */